/*importo*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

@-webkit-keyframes color-change-2x{0%{background:#11bbc7}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

@font-face {
    font-family:pokemon;
    src: url(../font/pokemon1.ttf);
}
    @font-face {
        font-family:pokemon1;
        src: url(../font/pokemon.ttf)
}
*{
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(143, 35, 143);
}
footer{
    background-color: rgb(59, 56, 56);
    height: 100%;
}

header{
    background-image: url(https://i1.wp.com/applauss.com/wp-content/uploads/2017/11/pokemon-top-10.jpg?fit=1200%2C800&ssl=1) ;
    margin: 0px;
}
h1{
    background-color: transparent;
    font-family:pokemon1;
    font-size: 6rem;
    -webkit-text-stroke:2px rgb(4, 11, 147);
    color: gold;
    text-align: center;
    margin: 0px;
    -webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both

}  
h2{
    background-color: rgb(134, 223, 245);
    font-size: 3rem;
    font-family:pokemon;
    text-align: center;
    margin: 15px;
   
}
h3{
    font-size: 2rem;
}
img{
    border: solid 2px gold
}
main{
    
    width: calc(100% - 30px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}
nav{
    padding: 5px;
    text-align: left;
}
div.menu-item{
    width: 120px;
    height: 30px;
    background-color:gold;
    font-weight: 900;
    font-size: 1rem;
    color: black;
    border: groove 5px rgb(4, 11, 147);
    border-radius: 15px;
    }
    a:visited{
        text-decoration: none;
    }
     a:focus{
        text-decoration: none;
    }
     a:hover{
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }

    /*animaciones*/

.fondo-contacto{-webkit-animation:color-change-2x 2s linear infinite alternate both;animation:color-change-2x 2s linear infinite alternate both
}

.imagen-alcentro{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both
}
 
.imagen-personajes-tilt:hover{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both
}

.image{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .image:hover{
    transform: scale(1.5 );
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-box-shadow: 3px 3px 5px #000;
    -moz-box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    -webkit-backface-visibility: hidden;
  }

    /*estilos box model*/
.ancho{
    width: 50%;
    height: 10vh;
}
.borde{
    border: solid 5px rgb(11, 17, 131);
}

.borde-img{
    border: solid 2px black;
}
.bordeModos{
    border: dashed 5px rgb(11, 17, 131);
    width: 100%;

}

.bordeMul{
    border: solid 5px goldenrod;
}
/* .imagenCont{
    text-align: center;
} */

.imagen-fondos{
    width: 640px;
    height: 480px;
    margin: 20px;
    
}

.imagenMC{
    width: 50%;
    height: 50vh;
    
}
.imagenPersonaje{
    text-align: center;
    margin-bottom: 20px;
}
.imagenPersonaje img{
    max-height: calc(100% - 4px);
    width: auto;
}

.linkOff{
    border: solid 5px gold;
    width: 200px;
    height: 30px;
    font-size: large;
    font-weight: 900;
    background-color: white;
    color: black;
}
.linkOff a:visited{
    color: black;
}
.linkOff a:focus{
    color: black;
}
.linkOff a:hover{
    color: black;
}

.margen{
    margin: 0px;
    

}

.margen-interno{
    padding: 10px;

}
.nav-footer{
    text-align: end;
}

.parrafo-footer{
    text-align: center;
}

.padding{
    padding: 5px;
}

.pFooter{
    font-family:pokemon1;
}
.textoIndex{
    font-size: large;
    font-weight: 900;
}




/*Flexbox*/

.is-flex{
    display:flex;
}

.is-flex-wrap{
    flex-wrap: wrap;
}

.is-justify-center{
    justify-content: center;
}

.is-align-center{
    align-items: center;
}

.menu-flex{
    display:flex ;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.menu-flex2{
    display:flex ;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    
}

.flex-imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: wrap;
}




.flex-music{
    display: flex;
    justify-content:center;
}

.flex-video{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/*formulario flex*/
.one-half {
    width: calc(50% - 20px);
    padding: 0 10px;
    text-align: center;
}
.one-whole {
    width: calc(100% - 20px);
    padding: 0 10px;
    text-align: center;
}
label {
    width: 100%;
}
input {
    width: calc(100% - 20px);
    height: 45px;
    border-radius: 8px;
    border: 0;
    padding: 0 10px;
}
form {
    font-family: pokemon1 !important;
    letter-spacing: 2px;
}

.flex-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

}


.main-content{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.image-wrapper{
    width: 75%;
    padding: 15px;
}

.text-wrapper{
    width: 70%;
    padding: 15px;
}

.reverse{
    flex-direction: row-reverse;
}



/*id*/
#uno{
    width: 600px;
}


/*GRIDS*/

/*Grid explicitas*/


.grid-fondos{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 50% 50%;
    gap: 50px;
    
}

/*Grid por areas*/

.grid-area{
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "img1   img2   img3"
    "img4   img5   img6"
    "img7   img8   img9"
    "img10  img11  img12";
     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}
.grid-area2{
    display: grid;
    grid-template-areas:
    "titulo2 titulo2 titulo2"
    "img13   img14   img15"
    "img16   .       .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}
.grid-area3{
    display: grid;
    grid-template-areas:
    "titulo3 titulo3 titulo3"
    "img17   img18   img19"
    "img20   img21   .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    
}
.grid-area4{
    display: grid;
    grid-template-areas:
    "titulo4 titulo4 titulo4"
    "img22   img23   img24"
    "img25   img26   img27"
    "img28   .       .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
}
    .grid-area5{
     display: grid;
     grid-template-areas:
     "titulo5 titulo5 titulo5"
     "img29   img30   img31"
     "img32   img33   img34"
     "img35   img36   .";
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto;  
    gap: 50px;
    }

.titulo{
    grid-area: titulo;
    position: relative;
}
.titulo2{
    grid-area: titulo2;
    position: relative;
}
.titulo3{
    grid-area: titulo3;
    position: relative;
}
.titulo4{
    grid-area: titulo4;
    position: relative;
}
.titulo5{
    grid-area: titulo5;
    position: relative;
}

.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.img8{
    grid-area: img8;
}
.img9{
    grid-area: img9;
}
.img10{
    grid-area: img10;
}
.img11{
    grid-area: img11;
}
.img12{
    grid-area: img12;
}
.img13{
    grid-area: img13;
}
.img14{
    grid-area: img14;
}
.img15{
    grid-area: img15;
}
.img16{
    grid-area: img16;
}
.img17{
    grid-area: img17;
}
.img18{
    grid-area: img18;
}
.img19{
    grid-area: img19;
}
.img20{
    grid-area: img20;
}
.img21{
    grid-area: img21;
}
.img22{
    grid-area: img22;
}
.img23{
    grid-area: img23;
}
.img24{
    grid-area: img24;
}
.img25{
    grid-area: img25;
}
.img26{
    grid-area: img26;
}
.img27{
    grid-area: img27;
}
.img28{
    grid-area: img28;
}
.img29{
    grid-area: img29;
}
.img30{
    grid-area: img30;
}
.img31{
    grid-area: img31;
}
.img32{
    grid-area: img32;
}
.img33{
    grid-area: img33;
}
.img34{
    grid-area: img34;
}
.img35{
    grid-area: img35;
}
.img36{
    grid-area: img36;
}
